html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

/*------------ HEADER ------------*/

.logo img {
    max-width: 75px;
}

.social-nav {
    margin: 0;
    padding: 0;
}

.social {
    list-style: none;
    padding-top: 30px;
    padding-left: 60px;
    margin: auto;
    text-align: center;
}

.social li {
    width: 42px;
    float: left;
}

.social li a i {
    color: #fff;
    display: block;
    text-align: center;
    padding: 14px 0;
    font-size: 16px;
}

.facebook {
    background-color: #3b5998;
}

.github {
    background-color: #343A40;
}

.google {
    background-color: #d34836;
}

/*------------ FOOTER ------------*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #343A40;
}